(conf) {
	header / Access-Control-Allow-Origin *
	root static/
	rewrite {
		regexp /$
		to /index
	}
	proxy / localhost:8080 {
		header_upstream X-Forwarded-Proto {scheme}
		header_upstream X-Forwarded-For {host}
		except /img /css
	}
	proxy /api localhost:8081 {
		header_upstream X-Forwarded-Proto {scheme}
		header_upstream X-Forwarded-For {host}
	}
}

localhost:2018 ec.localhost:2018 127.0.01:2018 [0:0:0:0:0:0:0:1]:2018 {
	import conf
	tls off
}

# allow ngrok for dev
*.ngrok.io:2018 {
	import conf
	tls off
}
