body {
	font-weight: unset; /* override Milligram */}

#container {
	min-width: 20em;
	max-width: 50em;
	//max-width: 600px;
	width: 100vw;
	margin: 10px auto;
	padding: 10px;
	box-shadow: 0px 2px 2px black;}

header {
    text-align: center;}
