body {
	font-weight: unset; /* Milligram's font weight is too light */}

#container {
	/* fix for those   l o n g   v3 onions */
	word-wrap: break-word;

	min-width: 20em;
	max-width: 50em;
	width: 100%;

	/* put on a nice 3d-ish paper looking border */
	margin: 0.2em auto;
	padding: 2em;
	box-shadow: 0em 0.3em 1.3em rgba(0,0,0,0.2);}

header {
	text-align: center;}

.table-container {
	width: 100%;
	overflow: scroll;}
