body {
	font-weight: unset; /* Milligram's font weight is too light */
	/* fix for those   l o n g   v3 onions */
	word-wrap: break-word;

	min-width: 20em;
	max-width: 50em;
	width: 100%;

	align: center;

	/* center the page */
	margin: 0.2em auto;
	padding: 2em;}

header {
	text-align: center;}

.table-container {
	width: 100%;
	overflow: scroll;}

a {
	text-decoration: underline;}
