{% extends 'base.html' %}

{% block head %}
	{{ super() }}
	<link rel=stylesheet href=/css/api_doc.css>
{% endblock %}

{% block title %} Emote Collector API docs {% endblock %}

{% block content %}
	{{ super() }}
	<h2>Base URL</h2>
	The base URL for all endpoints shall be one of:
	<ul>{% for url in urls %}
		<li><span class="api-url">{{ url }}{{ api_prefix }}</span></li>
	{% endfor %}</ul>

	<h2>General Information</h2>
	<p>
		All responses are in JSON form.
	</p>

	{% macro linked_header(title, slug, level=3) %}
	<h{{ level }} id="{{ slug }}">
		{{ title }}
		<a href="#{{ slug }}" class="header-link">
			<img src=/img/link.png>
		</a>
	</h3>
	{% endmacro %}

	{{ linked_header('Authorization', 'authorization') }}
	<p>
		To get an API token, run <code>{{ prefix }}api token</code>
		or <code>{{ prefix }}api token regenerate</code>.
		Your token will be sent to you via DMs. Set the "Authorization" header in all authenticated
		requests to that token. All authenticated actions will then take place as your Discord account.
	</p>
	<h2>Objects and Data Types</h2>
	<p>
		A <code>?</code> following the name of a field indicates that it may be null.
	</p>

	{{ linked_header('Emote Collector Date Time', 'ec-datetime') }}
	<p>
		All times are recorded in seconds (without leap seconds) since the Emote Collector Epoch, which is the first second of 2018-02-15, UTC.
		In Unix time, that's 1518652800.
	</p>

	{{ linked_header('Emote', 'emote-object') }}
	<div class=table-container><table class="fields">
		{% set fields_header %}
		<thead><tr>
			<th>Field name
			<th>Type
			<th>Description
		</tr></thead>
		{% endset %}
		{{ fields_header }}
		<tr> <td>name <td>String <td>
		<tr> <td>id <td>String <td>represents a Discord snowflake
		<tr> <td>author <td>String <td>represents the author's Discord ID
		<tr> <td>animated <td>Boolean</td> <td>
		<tr>
			<td>created
			<td><a href="#ec-datetime">Emote Collector Date Time</a>
			<td>
		<tr>
			<td>modified?
			<td><a href="#ec-datetime">Emote Collector Date Time</a>
			<td>
		<tr> <td>preserve <td>Boolean <td>whether to prevent this emote from being removed if it goes unused
		<tr> <td>description? <td>String <td>
		<tr> <td>nsfw <td>String
			<td>one of "SFW", "SELF_NSFW", or "MOD_NSFW", indicating whether the emote is NSFW and who marked it as such
	</table></div>

	{{ linked_header('Emote with Usage', 'emote-with-usage-object') }}
	Fields: everything in <a href="#emote-object">Emote</a>, plus:
	<div class=table-container><table class="fields">
		{{ fields_header }}
		<tr> <td>usage <td>Integer <td>how many times the emote was used in the past 4 weeks
	</table></div>

	<h2>Endpoints</h2>

	{% macro endpoint(title, slug, method, url, authed=False, nsfw_param=False, after_param=False, params='') %}
	<h3 class=http-req-title id="{{ slug }}">
		{{ title }}
		<a href="#{{ slug }}" class=header-link><img src=/img/link.png></a>
	</h3>
	<span class=http-req><span class=http-method>{{ method }}</span> {{ url }}</span>
	<p>
		{% if authed %}
			Requires authorization.<br>
		{% endif %}
		{{ caller() }}
	</p>
	{% if nsfw_param %}
	<h4>Query Parameters</h4>

	<div class=table-container><table class=query-params>
		<tr> <td>allow_nsfw <td>Boolean ("true" or "false" only) <td> Whether to include NSFW emotes in the result set.
		{{ params }}
	</table></div>
	{% endif %}
	{% endmacro %}

	{% call endpoint('Test token', 'test-token', 'GET', '/login', authed=True) %}
		Returns the user ID associated with your token as a JSON string.
	{% endcall %}

	{% call endpoint('Get Emote', 'get-emote', 'GET', '/emote/{emote.name}') %}
		One <a href="#emote-with-usage-object">emote with usage object</a>, or 404 if not found.
	{% endcall %}

	{% call endpoint('Create Emote', 'create-emote', 'PUT', '/emote/{name}/{url}', authed=True) %}
		Creates a new emote with name <code>name</code> and url <code>url</code>.<br>
		Returns the <a href="#emote-object">emote object</a> that was created on success.<br>
		If the emote already exists, returns 409 Conflict.<br>
		If retrieving the URL took too long, returns 400 Bad Request.<br>
		If resizing the image took too long, returns 413 Request Entity Too Large.<br>
		If the image is not a JPEG, GIF, or PNG, returns 415 Unsupported Media Type.
	{% endcall %}

	{% call endpoint('Create Emote From Bytes', 'create-emote-bytes', 'PUT', '/emote/{name}', authed=True) %}
		Creates a new emote with name <code>name</code> and image data given in the request body.<br>
		Request body must not exceed 16 MiB.<br>

		Returns the <a href="#emote-object">emote object</a> that was created on success.<br>
		If the emote already exists, returns 409 Conflict.<br>
		If resizing the image took too long, returns 413 Request Entity Too Large.<br>
		If the image is not a JPEG, GIF, or PNG, returns 415 Unsupported Media Type.
	{% endcall %}

	{% call endpoint('Edit Emote', 'edit-emote', 'PATCH', '/emote/{emote.name}', authed=True) %}
		Requires JSON data:
		<div class=table-container><table class=fields>
			{{ fields_header }}
			<tr> <td> name <td> string <td> new name for the emote
			<tr> <td> description? <td> string <td> new description for the emote, or null to delete the description
		</table></div>
	{% endcall %}

	{% call endpoint('Delete Emote', 'delete-emote', 'DELETE', '/emote/{emote.name}', authed=True) %}
		One <a href="#emote-object">emote object</a> that was deleted on success.
	{% endcall %}

	{% call endpoint('List Emotes', 'list-emotes', 'GET', '/emotes', nsfw_param=True, params="""
		<tr> <td> after? <td> {emote.name} <td> The name of the last emote that was sent as part of the last page.
	""")
	%}
		List of <a href="#emote-object">emote objects</a>. This endpoint is paginated. After the first page, you
		must pass the after parameter to get subsequent pages.
	{% endcall %}

	{% call endpoint(
		'List Emotes By Author',
		'list-emotes-by-author',
		'GET', '/emotes/{emote.author}',
		nsfw_param=True)
	%}
		List of <a href="#emote-object">emote objects</a> that were created by <code>emote.author</code>.
	{% endcall %}

	{% call endpoint('Search Emotes', 'search-emotes', 'GET', '/search/{query}', nsfw_param=True) %}
		List of <a href="#emote-object">emote objects</a> whose name is <em>similar</em> to <code>query</code>.
		Similarity is tested using <a href="https://www.postgresql.org/docs/current/static/pgtrgm.html">trigram matching</a>.
	{% endcall %}

	{% call endpoint('List Popular Emotes', 'list-popular-emotes', 'GET', '/popular', nsfw_param=True) %}
		List of all <a href="#emote-with-usage-object">emotes with usage</a>, sorted by popularity.

		A maximum of 200 emotes will be returned.
	{% endcall %}

	{% call endpoint(
		'List Popular Emotes By Author',
		'list-popular-emotes-by-author',
		'GET', '/popular/{emote.author}',
		nsfw_param=True) 
	%}
		List of <a href="#emote-object">emote objects</a> that were created by <code>emote.author</code>, sorted
		by popularity. A maximum of 200 emotes will be returned.
	{% endcall %}

{% endblock %}
