<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
	{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/milligram.min.css">
	<link rel="stylesheet" href="/css/base.css">
	<title>{% block title %}{% endblock %}</title>
	{% endblock %}
</head>
<body>
	<div id=container>
		<header>
			{% block header %}
			<h1>{{ self.title() }}</h1>
			{% endblock %}
		</header>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
