{% extends 'base.html' %}

{% block title %}
	{{ 'List of all emotes' }}
	{% if author is not none %}
		{{ ' by author ID %d' % author }}
	{% endif %}
{% endblock %}

{% block head %}
	{{ super() }}
	<link rel=stylesheet href=/css/list.css>
{% endblock %}

{% block header %}
	{{ super() }}
	{% if not request.headers.get('X-Forwarded-From').endswith('onion') and (v2_onion or v3_onion) %}
		<p>
			Now available as a
			{% if v2_onion %}
				<a href="{{ v2_onion }}{{ request.path }}">v2</a>
			{% endif %}
			{% if v3_onion %}
				<a href="{{ v3_onion }}{{ request.path }}">v3</a>
			{% endif %}
			Tor .onion service!
		</p>
	{% endif %}
{% endblock %}

{% block content %}
	{# load the "preservation" icon before the actual emote icons #}
	{# sometimes it just takes a while to load, even longer than the first emote #}
	<link rel=prefetch href=/img/jar.png>

	<table>
	<thead><tr>
		<th class=emote-column>Emote</th>
		<th>Name</th>

		{# we don't show the author column if it's gonna be the same every time #}
		{% if author is none %}
			<th>Author ID</th>
		{% endif %}

		<th>Preserved?</th>
	</tr></thead>

	{% for emote in emotes %}
		<tr>
			<td class="center">
				{% set url = emote_url(emote.id, animated=emote.animated) %}
				<a href="{{ url }}">
					{% if emote.animated %}
						{% set alt = 'an animated emote' %}
					{% else %}
						{% set alt = 'an emote' %}
					{% endif %}
					<img src="{{ url }}?size=64" class="emote" alt="{{ alt }}" title=":{{ emote.name }}:">
				</a>
			</td>

			<td lang=""><span class="data">{{ emote.name }}</span></td>

			{% if author is none %}
				<td><span class="data">{{ emote.author }}</span></td>
			{% endif %}

			<td>
			{% if emote.preserve %}
				<img
				src=/img/jar.png
				alt="A jar of preserves"
				title="This emote has been preserved and will not be removed if it goes unused.">
			{% endif %}
			</td>

		</tr>
	{% endfor %}

	</table>

	<footer>
		<a href="https://icons8.com/icon/69253/empty-jam-jar">Empty Jam Jar icon</a>
		was provided by Icons8 and used under the terms of the
		<a rel=license href="https://creativecommons.org/licenses/by-nd/3.0/">Creative Commons Attribution-NoDerivs 3.0 License</a>.
	</footer>
{% endblock %}
